* {
    /* border: 1px solid rgba(90, 153, 224, 0.637); */
    box-sizing: border-box;
}

body {
    display: flex;
    margin-left: 20px;
}

.container {
    display: flex;
    align-items: stretch;
    border: solid 1px gray;
}

#left {
    width: 30vw;
    min-width: 400px;
    height: 97vh;
    padding-left: 20px;
}

#rightContainer {
    display: flex;
    flex-direction: column;
}

#top {
    display: flex;
    border: solid 1px gray;
}

#bottom {
    width: 100%;
    height: 100%;
}

#myWeb {
    width: 60vw;
    height: 33.75vw;
	display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
    /* align-content: space-between; */
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
    align-items: stretch;
}

.selectable {
    display: flex;
    justify-content: center;
}

#myWeb .row {
    min-height: 40%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
    background-color: rgba(60, 166, 199, 0.315);
	justify-content: space-evenly;
    padding: 0;
    margin: 1% 0;
    font-size: 1vw;
    text-align: center;
    align-items: stretch;
}

#myWeb .column {
    /* min-height: 90%; */
    overflow: auto;
    min-width: 10%;
    max-width: 30%;
    background-color: rgba(174, 238, 78, 0.37);
    padding: 10px;
    display: flex;
    justify-content: center;
	flex-wrap: wrap;
    margin: 1%;
    font-size: 1vw;
    text-align: center;
    flex-grow: 1;
    align-items: stretch;
}

.selected {
    border : solid 4px rgba(0, 0, 0, 0.507);
    /* background: rgba(151, 209, 196, 0.603); */
    filter: sepia(50%);
}

img {
	width: 10vw;
	height: 10vw;
	object-fit: cover;
}

#exportArea {
    height: 80%;
    width: 100%;
    background-color: rgba(57, 39, 73, 0.89);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    font-family: monospace;
}

.container button, input, select {
    border-radius: 5px;
    border: 2px darkgray solid;
}